Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

  <!-- Root -->
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hotel" maxOccurs="unbounded">
          <xs:complexType>
            <!-- CHILD ORDER (left → right): Name, Phone+, Address -->
            <xs:sequence>
              <xs:element name="Name" type="xs:string"/>
              <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:string"/>
                    <xs:element name="Street" type="xs:string"/>
                    <xs:element name="City" type="xs:string"/>
                    <xs:element name="State">
                      <xs:simpleType>
                        <xsrestriction base="xs:string">
                          <xspattern value="[A-Z]{2}"/>
                        </xsrestriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Zip">
                      <xs:simpleType>
                        <xsrestriction base="xs:string">
                          <xspattern value="\d{5}(-\d{4})?"/>
                        </xsrestriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Rating">
              <xs:simpleType>
                <xsrestriction base="xs:decimal">
                  <xsminInclusive value="0.0"/>
                  <xsmaxInclusive value="5.0"/>
                </xsrestriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
